<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>点位信息</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="__PUBLIC__/static/assets/i/favicon.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="__PUBLIC__/static/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/static/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="__PUBLIC__/static/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="__PUBLIC__/static/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__PUBLIC__/static/assets/css/app.css">
</head>

<body id="blog-article-sidebar">
<!-- header start -->
<header data-am-widget="header" class="amazeMarchHead am-header am-header-default" style="background-color: #fff;">
           <div class="am-header-left am-header-nav">
          <i class="am-icon-chevron-left" onClick="javascript :history.back(-1);"></i>
      </div>

      <h1 class="amazeMarchHeadTitle am-header-title" style="color: #10D07A;">
          <i class="am-icon-skyatlas"></i> 派点信息
      
      </h1>

  </header>
<!-- <header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        <h2 class="am-show-lg-down" style="font-size: 26px">点位信息</h2>
    </div>
    <hr>
</header> -->
<!-- header end -->

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
  <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }">
      <div id="container">
          <div><img src="__PUBLIC__/static/assets/images/07.jpg"><h3>『莱迪广场』  一号机</h3></div>
          <div><img src="__PUBLIC__/static/assets/images/05.jpg"><h3>『百家湖太阳城』</h3></div>
          <div><img src="__PUBLIC__/static/assets/images/06.jpg"><h3>『义乌青年广场』</h3></div>
          <div><img src="__PUBLIC__/static/assets/images/01.jpg"><h3>『文鼎广场』  yi号机</h3></div>
          <foreach name="list" item="vo">
              <div><img src="{$vo.picture}">
                <a href="{:U('liyou/point_info',array('id'=>$vo.id))}"><h3>『{$vo.area_name}』  {$vo.name}</h3></a>
              </div>
          </foreach>
          <div><img src="__PUBLIC__/static/assets/images/02.jpg"><h3>莱迪广场二号机</h3></div>
          <div><img src="__PUBLIC__/static/assets/images/03.jpg"><h3>莱迪广场三号机</h3></div>
          <div><img src="__PUBLIC__/static/assets/images/04.jpg"><h3>百家湖万达广场</h3></div>
          <div><img src="__PUBLIC__/static/assets/images/30.jpg"><h3>Water drops</h3></div>
          
    </div> 
  </figure>

</div>


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/static/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/static/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/static/assets/js/pinto.min.js"></script>
<script src="__PUBLIC__/static/assets/js/img.js"></script>
</body>
</html>