<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>精选活动</title>
  <link rel="stylesheet" href="__PUBLIC__/static/assets_app/css/amazeui.min.css">
  <link rel="stylesheet" href="__PUBLIC__/static/assets_app/css/app.css">
</head>
<body>
<div class="am-g">
  <header data-am-widget="header" class="amazeMarchHead am-header am-header-default">
    <div class="articleCoverBack" style="background: #fff;color: #00000094;left: 5px;top: 5px;">
      <i class="am-icon-chevron-left" onClick="javascript :history.back(-2);"></i>
      <!-- <a href="{:U('liyou/index')}"></a> -->
    </div>
    <h1 class="amazeMarchHeadTitle am-header-title">
    		<i class="am-icon-vimeo"></i>精选活动
    </h1>
  </header>

  <div class="newsList">
    <foreach name="list" item="vo">
      <div class="newsListBlock">
        <div class="newsListTitle">
          <h2>{$vo.title}</h2>
          <!-- <div class="newsListTitleLeft">
            <div class="userHead">
              <img src="__PUBLIC__/static/assets_app/img/user04.png" >
            </div>
            <div class="userName">liyou </div>
          </div>
          <div class="newsListTitleRight">
            <div class="newsListTitleRightMap">
              <i class="am-icon-map-o"></i> {$vo.add_time}
            </div>
          </div> -->
        </div>

        <div>
          <a href="{$vo.link}" target="blank">
            <div class="newsListBanner">
              <div class="newsListBannerImg">
                <img src="{$vo.picture}">
              </div>
            </div>

            <div class="newsListText">
              <!-- {$vo.title} -->
              <h3><span>{$vo.content}</span></h3>
            </div>
          </a>
        </div>
        

        <div class="newsListTextInfo">
          <span style="color: #b7b7b7;"><img src="__PUBLIC__/static/icon/time32.png" style="width: 5%;margin-bottom: 2px;"> {$vo.start_time} ~ {$vo.end_time}</span>
          <!-- <i class="am-icon-heart active" style="font-size: 18px;"> 阅读量</i> <i class="am-icon-cny active" style="font-size: 18px;"> 9.9</i> -->
          
          <div class="newsListTextInfoNum">
            <span><i class="am-icon-comments-o" style="font-size: 15px;"> 2036</i></span>
            <!-- <span>2018-12-09</span> -->
            
          </div>
          <div class="newsListTextInfoNum">
            <!-- <span>5</span>
            k -->
          </div>
        </div>
      </div>
    </foreach>
  </div>

  

</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/static/assets_app/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets_app/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/static/assets_app/js/amazeui.min.js"></script>
</body>
</html>