<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Amaze UI Examples</title>
  <link rel="stylesheet" href="__PUBLIC__/static/assets_app/css/amazeui.min.css">
  <link rel="stylesheet" href="__PUBLIC__/static/assets_app/css/app.css">
</head>
<body>
<div class="am-g">
  <header data-am-widget="header" class="amazeMarchHead am-header am-header-default">
    <div class="articleCoverBack" style="background: #fff;color: #00000094;left: 5px;top: 5px;">
      <i class="am-icon-chevron-left" onClick="javascript :history.back(-2);"></i>
      <!-- <a href="{:U('liyou/index')}"></a> -->
    </div>
    <h1 class="amazeMarchHeadTitle am-header-title">
    		<i class="am-icon-vimeo"></i>U选
    </h1>
  </header>

  <div class="newsList">
  <div class="newsListBlock">
  	<div class="newsListTitle">
  		<div class="newsListTitleLeft">
  			<div class="userHead">
  				<img src="__PUBLIC__/static/assets_app/img/user04.png" >
  			</div>
  			<div class="userName">母婴玩具 </div>
  		</div>
  		<div class="newsListTitleRight">
  			<div class="newsListTitleRightMap">
  				<i class="am-icon-map-o"></i> 育儿书
  			</div>
  		</div>
  	</div>

    <div>
      <a href="{:U('liyou/u_info')}">
        <div class="newsListBanner">
          <div class="newsListBannerImg">
            <img src="__PUBLIC__/static/assets_app/img/1.png">
          </div>
        </div>

        <div class="newsListText">
          商品标题 
          <h3><span>商品内容</span></h3>
        </div>
      </a>
    </div>
  	

  	<div class="newsListTextInfo">
  		<i class="am-icon-heart active" style="font-size: 18px;"> 2k</i> <i class="am-icon-cny active" style="font-size: 18px;"> 9.9</i>
  		
  		<div class="newsListTextInfoNum">
        <span><i class="am-icon-comments-o" style="font-size: 15px;"> 2036</i></span>
  			<span>2018-12-09</span>
  			
  		</div>
  		<div class="newsListTextInfoNum">
  			<!-- <span>5</span>
  			k -->
  		</div>
  	</div>
  	</div>

  	 <div class="newsListBlock">
  	<div class="newsListTitle">
  		<div class="newsListTitleLeft">
  			<div class="userHead">
  				<img src="__PUBLIC__/static/assets_app/img/user03.png" >
  			</div>
  			<div class="userName">Fireart Studio </div>
  		</div>
  		<div class="newsListTitleRight">
  			<div class="newsListTitleRightMap">
  				<i class="am-icon-map-o"></i> California
  			</div>
  		</div>
  	</div>

  	<div class="newsListBanner">
  		<div class="newsListBannerImg">
  			<img src="__PUBLIC__/static/assets_app/img/2.png">
  		</div>
  	</div>

  	<div class="newsListText">
  		This app gives you all the unique moments of exploring <span>- game before</span>
  	</div>

  	<div class="newsListTextInfo">
  		<i class="am-icon-heart"></i> <i class="am-icon-comment-o active"></i>
  		
  		<div class="newsListTextInfoNum">
  			<span>+5K</span>
  			comment this
  		</div>
  		<div class="newsListTextInfoNum">
  			<span>+2K</span>
  			like this
  		</div>
  	</div>
  	</div>

  	 <div class="newsListBlock">
  	<div class="newsListTitle">
  		<div class="newsListTitleLeft">
  			<div class="userHead">
  				<img src="__PUBLIC__/static/assets_app/img/user02.png" >
  			</div>
  			<div class="userName">Fireart Studio </div>
  		</div>
  		<div class="newsListTitleRight">
  			<div class="newsListTitleRightMap">
  				<i class="am-icon-map-o"></i> California
  			</div>
  		</div>
  	</div>

  	<div class="newsListBanner">
  		<div class="newsListBannerImg">
  			<img src="__PUBLIC__/static/assets_app/img/3.png">
  		</div>
  	</div>

  	<div class="newsListText">
  		This app gives you all the unique moments of exploring <span>- game before</span>
  	</div>

  	<div class="newsListTextInfo">
  		<i class="am-icon-heart"></i> <i class="am-icon-comment-o"></i>
  		
  		<div class="newsListTextInfoNum">
  			<span>+5K</span>
  			comment this
  		</div>
  		<div class="newsListTextInfoNum">
  			<span>+2K</span>
  			like this
  		</div>
  	</div>
  	</div>

  	 <div class="newsListBlock">
  	<div class="newsListTitle">
  		<div class="newsListTitleLeft">
  			<div class="userHead">
  				<img src="__PUBLIC__/static/assets_app/img/user01.png" >
  			</div>
  			<div class="userName">Fireart Studio </div>
  		</div>
  		<div class="newsListTitleRight">
  			<div class="newsListTitleRightMap">
  				<i class="am-icon-map-o"></i> California
  			</div>
  		</div>
  	</div>

  	<div class="newsListBanner">
  		<div class="newsListBannerImg">
  			<img src="__PUBLIC__/static/assets_app/img/4.png">
  		</div>
  	</div>

  	<div class="newsListText">
  		This app gives you all the unique moments of exploring <span>- game before</span>
  	</div>

  	<div class="newsListTextInfo">
  		<i class="am-icon-heart active"></i> <i class="am-icon-comment-o active"></i>
  		
  		<div class="newsListTextInfoNum">
  			<span>+5K</span>
  			comment this
  		</div>
  		<div class="newsListTextInfoNum">
  			<span>+2K</span>
  			like this
  		</div>
  	</div>
  	</div>

  	 <div class="newsListBlock">
  	<div class="newsListTitle">
  		<div class="newsListTitleLeft">
  			<div class="userHead">
  				<img src="__PUBLIC__/static/assets_app/img/user04.png" >
  			</div>
  			<div class="userName">Fireart Studio </div>
  		</div>
  		<div class="newsListTitleRight">
  			<div class="newsListTitleRightMap">
  				<i class="am-icon-map-o"></i> California
  			</div>
  		</div>
  	</div>

  	<div class="newsListBanner">
  		<div class="newsListBannerImg">
  			<img src="__PUBLIC__/static/assets_app/img/1.png">
  		</div>
  	</div>

  	<div class="newsListText">
  		This app gives you all the unique moments of exploring <span>- game before</span>
  	</div>

  	<div class="newsListTextInfo">
  		<i class="am-icon-heart active"></i> <i class="am-icon-comment-o active"></i>
  		
  		<div class="newsListTextInfoNum">
  			<span>+5K</span>
  			comment this
  		</div>
  		<div class="newsListTextInfoNum">
  			<span>+2K</span>
  			like this
  		</div>
  	</div>
  	</div>
  </div>

</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/static/assets_app/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets_app/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/static/assets_app/js/amazeui.min.js"></script>
</body>
</html>